.all-heading {
  height: fit-content;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 40px;
  grid-template-rows: 25% 100px auto;
  justify-items: stretch;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.all-header {
 height: fit-content;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 40px;
  grid-template-rows: 25% 100px auto;
  justify-items: stretch;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  }
.home-heading {
  font-size: 20;
  color: white;
  height: 70%;
}
  .home-link {
    display: bottom;
  }

  h1 {
    text-align: center;
  }

.img {
width: 90%;
height: 90%;
}

.all-container {
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 40px;
  grid-template-rows: 25%;
  justify-items: stretch;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-img {
  width: 50%;
  margin-bottom: 2rem;
}

.all-form {
  height: 25%;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 40px;
  grid-template-rows: 25%;
  justify-items: stretch;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.all-card {
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 40px;
  grid-template-rows: 25%;
  justify-items: stretch;
  flex-direction: row wrap;
  display: inline-block;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
  color: white;
  background-color: rgba(126, 56, 67, 0.6);
  border-color: maroon;
  border-style: solid;
}

h2 {
  background-color: rgb(126, 56, 67, 0.6);
  border-width: 5%;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  font-weight: bold;
  border-color: maroon;
  border-style: solid;
}

h3 {
  background-color: rgba(126, 56, 67, 0.6);
  border-width: 5%;
  display: block;
  font-size: 25;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  font-weight: bold;
  border-color: maroon;
  border-style: solid;
}

h4 {
  background-color: rgba(126, 56, 67, 0.6);
  border-width: 5%;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  font-weight: bold;
  border-color: maroon;
  border-style: solid;
}

.home-container {
  height: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 40px;
  grid-template-rows: 25%;  
  justify-items: row;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

p {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 40px;
  grid-template-rows: 25%;
  justify-items: stretch;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 15;
  color: white;
}