div.container {
  background-color: #5e171b;
  padding: 2%;
  text-decoration-color: violet;
  }
.link {
  color:violet;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-weight: bolder;
}

a:-webkit-any-link {
  color: violet;
  cursor: pointer;
  scrollbar-arrow-color: blueviolet;
  padding: 2%;
}